@import "globals/hack-variables.scss";

.user-list {
  width: 80vw;
  padding-top: $xl-spacing;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

  a {
    text-decoration: none;
  }
}

.journal-entry {
    border: 0;
    resize: none;
}
